@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: inter, sans-serif;
    background-color: #fafafa;
  }
}

.left {
  position: relative;
}
.right {
  position: relative;
}
.phone-container {
  position: relative;
  width: 672px;
  height: 580px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* z-index: 1; */
}
.phone-continer::after{
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 366px;
  background-color: wheat;
  height: 200px;
}
.phone-mockup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 56px;

}
.svg1 {
  position: absolute;
  top: -60px;
  animation: spin 6s linear infinite;
}
.svg2 {
  position: absolute;
  animation: spin-reverse 6s linear infinite;
  top: -60px;
}



.features-svg{
  position: absolute;
  top: 82px;
  left: 0;
  /* transform: translateY(-50%); */
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}
.feature{
@apply p-8 pr-10 cursor-pointer rounded-xl hover:bg-zinc-800;
}
.active{
 @apply bg-neutral-800
}