@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: inter, sans-serif;
    background-color: #fafafa;
  }
}

.left {
  position: relative;
}
.right {
  position: relative;
}
.phone-container {
  position: relative;
  width: 672px;
  height: 580px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* z-index: 1; */
}
.phone-continer::after{
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 366px;
  background-color: wheat;
  height: 200px;

}
.phone-mockup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 56px;

}
.svg1 {
  position: absolute;
  top: -60px;
  animation: spin 6s linear infinite;
}
.svg2 {
  position: absolute;
  animation: spin-reverse 6s linear infinite;
  top: -60px;
}



.features-svg-container{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
z-index: 1;
}
.features-svg-container-mobile{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
z-index: 1;
}
.features-svg{
  animation: spin 3s linear infinite;
  z-index: 1;
}
.features-svg-mobile{
  animation: spin 3s linear infinite;
  z-index: 1;
}
.section4-svg-container{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section4-svg{
  animation: spin 3s linear infinite;
}
.animate-marquee1{
  animation: marquee 52s linear infinite;
  /* animation: marquee 12s linear infinite; */
  /* transform: translateY(-66.7%); */
}
.animate-marquee2{
  animation: marquee 62s linear infinite;
  /* transform: translateY(-66.7%); */
}
.animate-marquee3{
  animation: marquee 48s linear infinite;
  /* transform: translateY(-66.7%); */
}
@keyframes marquee {
  0% { transform: translateY(0); }
  100% { transform: translateY(-66.7%); }
}
@keyframes spin {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0 deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}

.swiper-pagination-bullet{
@apply inline-block md:hidden h-0.5 w-4 mx-[5px] rounded-full opacity-100 bg-neutral-500 !important;
}
.swiper-pagination-bullet-active{
  @apply bg-neutral-300 !important;
  }
.feature{
@apply p-8 pr-10 cursor-pointer rounded-xl hover:bg-zinc-800;
}
.active{
 @apply bg-neutral-800
}
@media screen and (max-width:1250px) {
  .phone-container{
    width: 520px;
  }
}
